.si {
  font-family: cursive;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assests/b10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.si .cont {
  width: 30%;
  height: 80vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.si .cont div {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userName {
  text-align: center;
  font-size: xx-large;
  font-weight: lighter;
}

.password {
  text-align: center;
  font-size: xx-large;
  font-weight: lighter;
}

.cont div input {
  width: 100%;
  height: 40%;
}

.cont div label {
  width: 100%;
  text-align: left;
  margin-bottom: 5%;
  font-size: medium;
}

.cont div button {
  padding: 5%;
  width: 50%;
}

form input {
  font-size: medium;
}
#new{
 
  font-weight: bolder;
  font-size: larger;
}
.su {
  padding: 5%;
  width: 50%;
  margin-top: 30px;
  color: rgb(247, 243, 243);
  background-color: #0a0a0a;
  cursor: pointer;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 10px;
  border-radius: 10px;
}