/* Common styles */
.sign {
  font-family: cursive;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-photo/delicious-food-assortment-with-copy-space_23-2148859569.jpg?w=1380&t=st=1690132962~exp=1690133562~hmac=876e01423de13640a3708fdaee48ec018f32a602c8c0372f3577d4e95bf9bca1');
  background-size: cover;
  background-repeat: no-repeat;
}

.sign .conte {
  width: 30%;
  height: 80vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign .conte div {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Default styles */
.userName,
.password,
.form-select {
  text-align: center;
  font-size: large;
  font-weight: lighter;
}

.conte div input,
.form-select {
  width: 100%;
  height: 40%;
}

.conte div label {
  width: 100%;
  text-align: left;
  margin-bottom: 5%;
  font-size: medium;
}

.conte div button {
  padding: 5%;
  width: 50%;
}

form input {
  font-size: small;
}

.su2 {
  margin-top: 30px;
  color: rgb(247, 243, 243);
  background-color: #0a0a0a;
  cursor: pointer;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 10px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  /* Adjust the container width to 80% on smaller screens */
  .sign .conte {
    width: 80%;
  }
  
  /* Adjust font sizes for smaller screens */
  .userName,
  .password,
  .form-select {
    font-size: large;
  }
}