/* form.css */
/* Base styles for the form */
.all10 {
  display: flex;
  justify-content: center;
 
  background-image: url("https://img.freepik.com/free-photo/gourmet-chicken-biryani-with-steamed-basmati-rice-generated-by-ai_188544-13480.jpg?t=st=1690119235~exp=1690122835~hmac=f1662c4a6621b3551563a6d30a91c6f01c6e0365437132a6ee636ed9e527d798&w=1380");
  background-repeat: no-repeat;
  background-size: cover;
  width: 187vh;
}

.food-order-container-new {
  margin-left: 40px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.food-order-title-new {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.input-container-new {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-field-new {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-button-new {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button-new:hover {
  background-color: #b02a37;
}

.order-list-new {
  list-style: none;
  padding: 0;
}

.order-item-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button-new {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button-new:hover {
  background-color: #b02a37;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust the layout for smaller screens */
  .food-order-container-new {
    padding: 10px;
    margin-left: 0;
  }

  .food-order-title-new {
    font-size: 20px;
  }

  .input-container-new {
    flex-direction: column;
  }

  .input-field-new {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .add-button-new,
  .delete-button-new {
    padding: 8px 15px;
  }
  
  /* Adjust the width for smaller screens */
  .all10 {
    width: 100%;
  }
}
