.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  background-image: url('https://img.freepik.com/free-photo/3d-render-concept-old-telephone-3d-art-design-illustration_460848-8380.jpg?w=996&t=st=1690130470~exp=1690131070~hmac=5665fd829e7e7bfb344789f7fcfdddc69f9667e2206a43b7b1ff174f96f4b134');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #0f0f0f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #860808;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons a {
  margin: 0 10px;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-container {
    margin-top: 50px; /* Adjust margin-top for smaller screens */
  }

  .contact-form {
    width: 90%; /* Adjust width for smaller screens */
  }

  .contact-form input,
  .contact-form textarea {
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .social-media-icons {
    margin-top: 10px; /* Adjust margin-top for smaller screens */
  }

  .social-media-icons img {
    width: 25px; /* Adjust image size for smaller screens */
    height: 25px; /* Adjust image size for smaller screens */
  }
}
